<p id="notice"><%= notice %></p>

<p>
  <strong>Kind name:</strong>
  <%= @kind_of_question.kind_name %>
</p>

<%= link_to 'Edit', edit_kind_of_question_path(@kind_of_question) %> |
<%= link_to 'Back', kind_of_questions_path %>
